<h1 class="titles">Vantagens do Agile</h1>
<p class="text">Agile permite maior flexibilidade nos projetos e adaptações rápidas a mudanças e além disso, promove colaboração contínua entre equipes e clientes, gerando produtos de maior valor por meio do foco no que gera mais valor para o cliente, garantindo maior eficiência e satisfação. Ajuda também na redução de riscos, já que problemas são identificados rapidamente e corrigidos antes que se tornem críticos.</p>
<p class="text">Outra vantagem é a entrega incremental de produtos, o que possibilita que partes do projeto sejam disponibilizadas mais cedo, permitindo feedback constante e ajustes imediatos.</p>
<p class="text">Por fim, Agile aumenta a motivação e engajamento da equipe, pois os membros participam ativamente das decisões e têm visibilidade do progresso do projeto, melhorando, por consequência, a produtividade do time.</p>

