<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SCRUM ACADEMY{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='stylemodulos.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  {% block extra_css %}{% endblock %}

</head>
<body>

  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo da Empresa" class="logo-img">
        <a href="{{ url_for('index') }}" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <div class="nav-links">
        <div class="grafico_progresso_total"><canvas class="grafico_progrecao"></canvas></div>
        <div><a href="{{ url_for('index') }}">Home</a></div>
        <div><a href="{{ url_for('modulos') }}">Módulos</a></div>
        <div><a href="{{ url_for('notas')}}">Notas</a></div>
        <div><a href="{{ url_for('sobre') }}">Sobre</a></div>
      </div>
    </nav>
    <div id="mensagem-flutuante">
      <p id="mensagem">
      
      </p>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <div class="marcacao_erro">
    <p>Para concluir este tópico, obtenha 70% ou mais no questionário.</p>
    <div class="barra_tempo"></div>
  </div>

  <footer id="footer">
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
<script type="module" src="{{ url_for('static', filename='script/main-script.js')}}"></script>
</body>
</html>