{% extends 'base.html' %}

{% block title %}Módulos | SCRUM ACADEMY{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylemodulos.css') }}">
{% endblock %}

{% block content %}
<main class="content">
  <h1>Lista de Módulos</h1>
  <div class="modulo-grid">
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo1') }}">
      <a href="{{ url_for('modulo1') }}">Módulo 1 – Introdução ao SCRUM</a>
      <p>Conheça os princípios básicos e a origem do Scrum.</p>
      <p class="progresso" id="progresso_modulo1"></p>
    </div>
    <div class="modulo-card"  data-moduloconteudo="{{ url_for('modulo2') }}">
      <a href="{{ url_for('modulo2') }}">Módulo 2 – Fundamentos do Agile</a>
      <p>Entenda o Manifesto Ágil e sua aplicação em projetos.</p>
      <p class="progresso" id="progresso_modulo2"></p>
    </div>
    <div class="modulo-card"  data-moduloconteudo="{{ url_for('modulo3') }}">
      <a href="{{ url_for('modulo3') }}">Módulo 3 – Papéis</a>
      <p>Descubra as funções do Product Owner, Scrum Master e Time.</p>
      <p class="progresso" id="progresso_modulo3"></p>
    </div>
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo4') }}">
      <a href="{{ url_for('modulo4') }}">Módulo 4 – Eventos e Cerimônias</a>
      <p>Aprenda sobre sprints, dailies e reuniões de planejamento.</p>
      <p class="progresso" id="progresso_modulo4"></p>
    </div>
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo5') }}">
      <a href="{{ url_for('modulo5') }}">Módulo 5 – Artefatos</a>
      <p>Explore o Product Backlog, Sprint Backlog e Incremento.</p>
      <p class="progresso" id="progresso_modulo5"></p>
    </div>
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo6') }}">
      <a href="{{ url_for('modulo6') }}">Módulo 6 – Estimativa e planejamento</a>
      <p>Veja como planejar sprints e medir o progresso da equipe.</p>
      <p class="progresso" id="progresso_modulo6"></p>
    </div>
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo7') }}">
      <a href="{{ url_for('modulo7') }}">Módulo 7 – Scrum Board e Ferramentas</a>
      <p>Aprenda a utilizar quadros e ferramentas para gestão ágil.</p>
      <p class="progresso" id="progresso_modulo7"></p>
    </div>
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo8') }}">
      <a href="{{ url_for('modulo8') }}">Módulo 8 – Boas Práticas e Dicas</a>
      <p>Aprenda sobre boas práticas, adaptação e melhorias contínuas para equipes ágeis.</p>
      <p class="progresso" id="progresso_modulo8"></p>
    </div>
    <div class="modulo-card" data-moduloconteudo="{{ url_for('modulo9') }}">
      <a href="{{ url_for('modulo9') }}">Módulo 9 - Simulações e Exercícios Práticos</a>
      <p>Consolide seu conhecimento colocando em prática os conceitos apresentados ao longo do curso.</p>
      <p class="progresso" id="progresso_modulo9"></p>
    </div>
</div>
  
</main>
<script type="module" src="{{ url_for('static', filename='script/main-script.js')}}"></script>
{% endblock %}
