{% extends 'base.html' %}

{% block title %}Notas | SCRUM ACADEMY{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<section class="area_graficos">
    <h2>Notas dos Exercicíos:</h2>
<div class="graficos">
    <canvas id="grafico_modulo1"></canvas>
    <p>Módulo 1 - Introdução ao Scrum </p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo2"></canvas>
    <p>Módulo 2 - Fundamentos do Agile </p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo3"></canvas>
    <p>Módulo 3 - Papéis </p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo4"></canvas>
    <p>Módulo 4 - Eventos e Cerimônias</p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo5"></canvas>
    <p>Módulo 5 - Artefatos </p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo6"></canvas>
    <p>Módulo 6 - Estimativa e Planejamento </p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo7"></canvas>
    <p>Módulo 7 - Scrum Board e Ferramentas </p>
</div>

<div class="graficos">
    <canvas id="grafico_modulo8"></canvas>
    <p>Módulo 8 - Boas Práticas e Dicas </p>
</div>



</section>





<script type="module" src="{{ url_for('static', filename='script/main-script.js')}}"></script>
{% endblock %}