:root {
  --blue-dark: #1e3a8a;
  --blue-light: #3b82f6;
  --white: #ffffff;
  --gray-light: #f9fafb;
  --gray-dark: #1f2937;
  --font-family: "Poppins", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #333;   
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-dark);
  padding: 1%;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 10px 10px;
}

.nav-links > div {
  margin-right: 50px;
}

.nav-links > div:last-child {
  margin-right: 10px;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  padding: 8px;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: var(--blue-light);
}

/* CONTEÚDO PRINCIPAL */
.container {
  max-width: 1100px;
  margin: 40px auto 50px auto;
  padding: 0 20px;
  flex: 1;
}

.main-header {
  text-align: center;
  margin-bottom: 30px;
}

.main-header h1 {
  font-size: 2.4rem;
  color: var(--blue-dark);
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 12px;
}

.main-header .lead {
  font-size: 1.2rem;
  color: var(--blue-dark);
}

/* GRID DE CARDS */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.card {
  background: var(--white);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.card h2 {
  color: var(--blue-dark);
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.relevancia-card {
  grid-column: 1 / -1;
  background-color: var(--white);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.relevancia-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.relevancia-card {
  grid-column: 1 / -1; /* ocupa todas as colunas da grid */
  background-color: var(--white);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.relevancia-card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--blue-dark);
}

.relevancia-card p {
  font-size: 1rem;
  color: var(--gray-dark);
  line-height: 1.7;
}

/* FOOTER  */
#footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--blue-dark);
  color: var(--white);
}


