<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Papéis do Scrum</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  
  <main class="artigo">
    <h1 class="titles">Papéis no Scrum</h1>
    <p class="text">Os esforços de desenvolvimento do Scrum consistem em uma ou mais equipes Scrum, cada uma 
    composta por três papéis Scrum: proprietário do produto, ScrumMaster e equipe de desenvolvimento. Pode haver outros papéis ao usar o Scrum, 
    mas o framework Scrum requer apenas os três listados aqui.</p>
    <p class="text"><strong>O Product Owner</strong> é responsável pelo que será desenvolvido e em que ordem.</p>
    <p class="text"><strong>O Scrum Master</strong> é responsável por orientar a equipe na criação e no cumprimento de seu próprio processo, com 
    base no framework Scrum mais amplo.</p>
    <p class="text"><strong>A equipe de desenvolvimento</strong> é responsável por determinar como entregar o que o Product Owner solicitou.</p>
</main>


  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
