<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrum Master</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  
<main class="artigo">
    <h1 class="titles">Scrum Master (SM)</h1>
    <p class="text"><strong>Facilitador do time</strong></p>
    <p class="text">O Scrum Master ajuda todos os envolvidos a entender e adotar os valores, princípios e práticas do Scrum. Ela atua como coach, fornecendo liderança de processo e ajudando a equipe Scrum e o restante da organização a desenvolver sua própria abordagem Scrum de alto desempenho e específica para a organização. Ao mesmo tempo, a Scrum Master auxilia a organização no desafiador processo de gerenciamento de mudanças que pode ocorrer durante a adoção do Scrum.</p>
    <p class="text">Como facilitador, o Scrum Master ajuda a equipe a resolver problemas e a fazer melhorias no uso do Scrum. Ela também é responsável por proteger a equipe de interferências externas e assume um papel de liderança na remoção de impedimentos que inibem a produtividade da equipe (quando os próprios indivíduos não conseguem resolvê-los de forma razoável). O Scrum Master não tem autoridade para exercer controle sobre a equipe, portanto, essa função não é a mesma que a função tradicional de gerente de projeto ou gerente de desenvolvimento. O Scrum Master funciona como líder, não como gerente.</p>
    
    <p class="text"><strong>Para realizar esse trabalho, o Scrum Master:</strong></p>
    <ul class="text">
        <li>Facilita o trabalho do Time de Scrum, de forma que seus membros se auto-organizem para que, juntos, desenvolvam o produto, comuniquem-se efetivamente e busquem continuamente melhorar seus processos de trabalho, realizando-os com qualidade e produtividade; além de facilitar os eventos do Scrum.</li>
        <li>Remove ou gerencia a remoção dos impedimentos que atrapalham o trabalho do Time de Desenvolvimento e ajuda a prevenir que os impedimentos aconteçam, quando possível.</li>
        <li>Promove as mudanças organizacionais necessárias para que o Time de Scrum possa realizar seu trabalho com efetividade.</li>
        <li>Assegura que o Scrum seja compreendido e adequadamente utilizado pelo Time de Scrum.</li>
        <li>Competente em soft skills, ou seja, possui competências comportamentais e pessoais, como comunicação, facilitação e política. Ele é também corajoso, proativo e autoconfiante para realizar as mudanças necessárias, remover impedimentos e proteger o trabalho do Time de Desenvolvimento.</li>
        <li>Presente sempre que o Time de Scrum necessitar dele, para observar, identificar, criar visibilidade e ajudar a resolver problemas, para remover impedimentos e para proteger o Time de Desenvolvimento de interrupções.</li>
        <li>Suficientemente neutro, visando aumentar a responsabilidade e a capacidade do Time de Scrum de resolver seus próprios problemas e chegar a suas próprias soluções.</li>
    </ul>

    <h2 class="titles">Facilitador hábil</h2>
    <p class="text">Na definição clássica de Roger Schwarz, “facilitação de um grupo é um processo pelo qual uma pessoa cuja escolha é aceitável para todos os membros do grupo, que é suficientemente neutra e que não possui autoridade considerável no processo decisório do grupo, diagnostica e intervém para ajudar o grupo a melhorar como ele identifica e resolve problemas e toma decisões, para aumentar a efetividade do grupo” (Schwarz, ano). A partir dessa definição, Schwarz criou o modelo do “facilitador hábil”.</p>
    <p class="text">Listamos a seguir algumas características do trabalho do Scrum Master enquanto facilitador, utilizando o modelo criado por Schwarz. Em particular, adotamos aqui a abordagem de facilitação desenvolvimentista, na qual o facilitador ensina o time a melhorar seus processos de trabalho e a depender cada vez menos do facilitador.</p>
    
    <h3 class="titles">O facilitador habilita o time a aumentar sua efetividade</h3>
    <p class="text">A principal atribuição do Scrum Master enquanto facilitador é ajudar o Time de Scrum a aumentar sua efetividade. Para tal, ele ajuda a habilitar os membros do Time de Desenvolvimento e o Product Owner a melhorarem:</p>
    <ul class="text">
        <li><strong>Seu processo:</strong> Como trabalham juntos, ou seja, como se comunicam, como é o seu processo criativo, como identificam e resolvem problemas, como lidam com conflitos e como se relacionam com seu entorno.</li>
        <li><strong>Sua estrutura:</strong> Características relativamente estáveis importantes para o funcionamento do grupo, como a existência de metas claras a serem alcançadas, a composição do time adequada para a realização de suas tarefas, tarefas motivadoras, valores e crenças consistentes com um time efetivo, normas ou acordos explícitos derivados desses valores e crenças, e tempo suficiente para realizar seu trabalho e melhorar sua forma de trabalhar.</li>
        <li><strong>Seu contexto:</strong> Como o contexto no qual está inserido o time (por exemplo, sua organização ou setor) influencia sua efetividade, como a existência de objetivos organizacionais claros, uma cultura organizacional que apoie o uso do Scrum e práticas de gestão que tornem o time mais efetivo, a premiação de comportamentos do time (e não do indivíduo) consistentes com os objetivos do time, informações necessárias para realizar o trabalho, feedback sobre seu trabalho, acesso a treinamento e consultoria, material e tecnologia necessários e um ambiente físico adequado.</li>
    </ul>
    <p class="text">O Scrum Master, enquanto facilitador, intervém diretamente no processo, estrutura e contexto do Time de Scrum para ajudá-lo a se tornar mais efetivo. Mas, ao mesmo tempo, o Scrum Master estimula o Time de Scrum a refletir sobre como pode melhorar seu processo, estrutura e contexto e o ensina a desenvolver as habilidades necessárias para atuar por si só nesses aspectos, pois a responsabilidade de aumentar sua efetividade pertence ao próprio time.</p>
    <p class="text">Essas mudanças, no entanto, só podem ser realizadas se o Time de Scrum possuir a autoridade necessária para modificá-los e se todos os seus membros compartilham a responsabilidade por essas mudanças. Embora o Time de Scrum não possua controle direto sobre seu contexto, ele pode influenciá-lo e provocar mudanças que o possibilitem a se tornar mais efetivo.</p>

    <h3 class="titles">O facilitador é neutro</h3>
    <p class="text">O Scrum Master, enquanto facilitador, é uma pessoa suficientemente neutra, que tem como objetivo aumentar a responsabilidade e a capacidade do grupo de resolver seus próprios problemas. Assim, ele não interfere diretamente no conteúdo das discussões do grupo. Para que essa neutralidade seja possível, o Scrum Master preferencialmente não exerce o papel de membro do Time de Desenvolvimento ou Product Owner, que têm suas opiniões e interesses e, assim, são invariavelmente parciais. O Scrum Master, portanto, trabalha para o Time de Scrum como um todo.</p>

    <h3 class="titles">O facilitador habilita o time a aumentar sua autonomia</h3>
    <p class="text">Uma parte importante do trabalho do facilitador é habilitar o time a realizar suas próprias escolhas (e decisões) a partir de informações suficientes: é o que chamamos de escolhas livres e informadas. Ao realizar escolhas livres e informadas, os membros do time naturalmente tornam-se comprometidos com essas escolhas e, ao mesmo tempo, revisam-nas e as mantêm atualizadas. O trabalho do Scrum Master, enquanto facilitador, é chave para possibilitar a auto-organização do Time de Desenvolvimento.</p>
    <p class="text">Um elemento importante para possibilitar as escolhas livres e informadas é a transparência. Para assegurá-la, o Scrum Master nunca deve fazer arranjos com determinados membros ou com terceiros para ocultar informações do Time de Scrum ou de alguma parte dele, ou para se comportar de uma determinada forma ou de outra. Ao contrário, o Scrum Master deve ajudar o Time de Scrum a garantir a visibilidade das informações disponíveis.</p>
    <p class="text">A princípio, o time é mais efetivo se for internamente comprometido com suas escolhas. No entanto, mesmo que o Scrum Master esteja realizando a facilitação de forma efetiva, o time pode realizar escolhas ruins, já que suas escolhas são livres, ainda que informadas. Mesmo que o Scrum Master identifique que uma determinada escolha não é apropriada, sua intervenção não é recomendável. Seu papel é o de estimular o time a refletir sobre o resultado de suas escolhas e ajustá-las de acordo.</p>
    <p class="text">Ao intervir com suas próprias opiniões e tomar a decisão pelo time, o Scrum Master estará reduzindo tanto a autonomia do time quanto sua credibilidade enquanto facilitador.</p>

    <h3 class="titles">Para aumentar a autonomia do Time de Scrum</h3>
    <p class="text">As intervenções do Scrum Master, enquanto facilitador, têm sempre o objetivo de reduzir a dependência do Time de Scrum no próprio Scrum Master. Assim, podemos afirmar que o Scrum Master trabalha em direção a se tornar cada vez menos necessário, até mesmo habilitando os membros do Time de Scrum a atuarem como facilitadores eles mesmos.</p>

    <h3 class="titles">O facilitador não é intermediário ou representante</h3>
    <p class="text">O Scrum Master também não atua como um intermediário entre membros do Time de Scrum ou entre o Time     
    <p class="text">de Scrum e pessoas externas a ele. Ao contrário, ele estimula o time a desenvolver as habilidades de se comunicar e lidar diretamente com quem se fizer necessário.</p>
    <p class="text">O Scrum Master também não atua como representante do Time de Scrum ou de qualquer um de seus membros diante de outros membros ou de pessoas externas. Dessa forma, não é o Scrum Master, por exemplo, que reporta ao resto da organização os resultados do trabalho ou o desempenho do Time de Scrum ou de algum de seus membros. Ele não tem autoridade de utilizar qualquer informação obtida a partir da facilitação para influenciar decisões externas sobre membros do time, como, por exemplo, bonificações ou punições. Caso o fizesse, a confiança do Time de Scrum no Scrum Master ficaria comprometida, assim como sua neutralidade e, consequentemente, sua eficácia como facilitador. Esse tipo de informação, caso necessária, é fornecida diretamente pelo Time de Scrum.</p>
    <p class="text">Da mesma forma, o Scrum Master não atua como intermediário entre os membros do Time de Desenvolvimento e o Product Owner. Ele, ao contrário, estimula que se comuniquem diretamente.</p>

    <h3 class="titles">O facilitador é um especialista no processo</h3>
    <p class="text">Como um especialista no processo, o Scrum Master sabe quais elementos mais contribuem para tornar o Time de Scrum mais eficiente. Uma parte importante desses elementos são as regras do Scrum, que devem ser corretamente compreendidas e utilizadas pelo Time de Scrum. Assim, o Scrum Master identifica quaisquer comportamentos disfuncionais do time e desvios no uso do Scrum utilizando sua expertise no processo.</p>
    <p class="text">Embora não interfira diretamente no conteúdo das discussões do grupo, quando uma discussão envolve processos do time ou organizacionais, o Scrum Master pode, nesse momento, deixar sua neutralidade de lado – justamente por ser um especialista no processo – e então interferir nesse conteúdo.</p>

    <h3 class="titles">Remoção de impedimentos</h3>
    <p class="text">Impedimentos ameaçam o cumprimento da Meta do Sprint, pois dificultam significativamente ou obstruem o trabalho do Time de Desenvolvimento. O Scrum Master é o responsável pela resolução desses impedimentos, removendo-os ele mesmo ou mobilizando as pessoas e os recursos necessários para tal.</p>
    <p class="text">Um impedimento tipicamente acontece em um trabalho que já foi iniciado pelo Time de Desenvolvimento e, assim, gera uma espera sobre um item ou itens que têm prioridade de desenvolvimento naquele momento. Por essa razão, uma vez identificado pelo Time de Desenvolvimento, o impedimento é imediatamente sinalizado para o Scrum Master, que, por sua vez, toma ações rápidas e efetivas para a sua remoção. É importante que as soluções adotadas atuem diretamente sobre as possíveis causas raiz, ao invés de se utilizarem soluções paliativas.</p>
    <p class="text">O Scrum Master estimula o Time de Desenvolvimento a identificar se há impedimentos por vir. Assim, quando o Time de Desenvolvimento se antecipa a um impedimento, o Scrum Master trabalha imediatamente para ajudar a evitar que o mesmo aconteça.</p>
    <p class="text">No entanto, deve-se saber distinguir problemas e questões do dia a dia de impedimentos no trabalho, sobre os quais atua o Scrum Master. A resolução de problemas está ao alcance e no contexto de atuação do Time de Desenvolvimento e, por essa razão, são tratados pelo próprio Time de Desenvolvimento, ainda que com a ajuda do Scrum Master.</p>

    <h3 class="titles">Garantir que o Scrum seja seguido corretamente</h3>
    <p class="text">O Scrum Master é responsável por garantir que os valores, práticas e regras do Scrum estejam sendo entendidos e seguidos por todo o Time de Scrum. Ele ensina o Scrum para o Time de Desenvolvimento, para o Product Owner e para demais pessoas da organização que julgue necessário, de forma que apoiem o trabalho do Time de Scrum. O Scrum Master fica atento a desvios na prática do Scrum e toma medidas que considere necessárias para estimular o Time a corrigir esses desvios.</p>
    <p class="text">É responsabilidade do Scrum Master garantir que todos os eventos do Scrum aconteçam e que os horários e timeboxes sejam respeitados. É também de sua responsabilidade garantir que o Time de Desenvolvimento esteja atualizando o Sprint Backlog e monitorando seu progresso em direção à Meta do Sprint. O Scrum Master também assegura-se de que o Product Owner esteja atualizando e preparando o Product Backlog e que, para fazê-lo, esteja interagindo com os clientes do projeto e com o Time de Desenvolvimento, de forma que chegue à Sprint Planning com os itens mais prioritários preparados para entrarem em desenvolvimento.</p>
    <p class="text">Um bom Scrum Master, no entanto, não age como polícia ou fiscal dos processos, forçando os envolvidos a utilizarem o Scrum corretamente ou mesmo realizando partes do trabalho por eles para que o bom uso do Scrum aconteça. Na realidade, como descrito anteriormente, um dos importantes objetivos do Scrum Master é tornar-se cada vez menos necessário, aumentando a autonomia do Time de Scrum.</p>
    <p class="text">Com esse propósito, o Scrum Master ensina e habilita o Time de Desenvolvimento e o Product Owner a utilizarem o Scrum, de forma que cada vez menos dependam dele para que os valores, práticas e regras do Scrum sejam seguidos e utilizados.</p>
    <p class="text">O Scrum Master poderia, por exemplo, avisar todos os dias ao Time de Desenvolvimento quando é hora de realizar a sua reunião diária. Ao agir dessa forma, no entanto, ao invés de habilitá-lo e torná-lo independente, o Scrum Master pode estar levando o Time de Desenvolvimento a sempre depender dele para avisá-lo da reunião, o que provavelmente acontecerá até o final do projeto. O Scrum Master fará melhor seu trabalho se, utilizando diferentes técnicas, for capaz de mostrar e convencer o Time de Desenvolvimento da importância de realizar a reunião sempre na mesma hora e no mesmo local, de forma que crie o hábito e se auto-organize para fazê-lo.</p>
</main>


  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
