<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Scrum</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">Daily Scrum</h1>
    <p class="text">A Daily Scrum é uma reunião curta realizada diariamente pelo Time de Desenvolvimento. Essa reunião é um timebox de quinze minutos e acontece preferencialmente no mesmo local e à mesma hora. A reunião de Daily Scrum facilita a auto-organização do Time de Desenvolvimento e, assim, sua realização é de grande importância. Ela tem os propósitos de proporcionar, entre os membros do Time de Desenvolvimento, visibilidade ao trabalho realizado e a realizar, promover a comunicação sobre esse trabalho, dar visibilidade a quais obstáculos atrapalham ou atrapalharam o desenvolvimento desde a última reunião de Daily Scrum e servir de oportunidade para decisões rápidas com relação ao progresso do Sprint. Assim, o Daily Scrum produz um plano informal para o próximo dia de trabalho do Time de Desenvolvimento, ou seja, para até a próxima reunião.</p>
    <p class="text">Existe um padrão utilizado por Times de Desenvolvimento para endereçar essas questões no Daily Scrum. Cada membro se dirige a seus colegas e responde a três perguntas: </p>
    <ul>
        <li> O que eu fiz desde a última reunião?</li>
        <li>O que eu pretendo fazer até a próxima reunião? </li>
        <li>Quais obstáculos/impedimentos estiveram ou estão em meu caminho, impedindo a realização do trabalho?</li>
    </ul>
    <p class="text"> Para estimular a reflexão sobre o trabalho até o próximo dia e reduzir riscos, pode-se acrescentar à última questão: quais obstáculos o membro do time prevê até a próxima Daily Scrum.</p>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
