<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 4 – Eventos</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>

  <main class="content">
    <h1>Módulo 4 – Ceriônias do Scrum</h1>

    <div class="contentlinks"><a href="Sprint.html" target="_blank">Sprint</a></div>
    <div class="contentlinks"><a href="SprintPlanning.html" target="_blank">Sprint Planning</a></div>
    <div class="contentlinks"><a href="DailyScrum.html" target="_blank">Daily Scrum</a></div>
    <div class="contentlinks"><a href="SprintReview.html" target="_blank">Sprint Review</a></div>
    <div class="contentlinks"><a href="SprintRetrospective.html" target="_blank">Sprint Retrospective</a></div>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
