<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sprint</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">Sprint</h1>
    <p class="text">No Scrum, o trabalho é realizado em ciclos de 1 a 4 semanas, chamados Sprints. Para times que estão em seus primeiros passos na utilização de Scrum, é comum a escolha de Sprints mais curtos – de uma semana, por exemplo – para aumentar a frequência de feedback. Esse feedback frequente, tanto externo (nas reuniões de Sprint Review) quanto interno (nas reuniões de Sprint Retrospective), permite ao time iniciante evoluir mais rapidamente ao identificar onde e como melhorar. Quanto mais frequente é o feedback nos projetos, maiores serão as chances de se efetuarem correções de curso no trabalho realizado, o que diminui os riscos de desperdício do trabalho do Time de Desenvolvimento. Outro benefício é que os clientes e demais partes interessadas também verão os progressos do projeto mais frequentemente. O trabalho concluído em cada sprint deve criar algo de valor tangível para o cliente ou usuário.</p>

    <p class="text"> Os Sprints são timeboxes, ou seja, sempre têm uma data de início e término fixos e, geralmente, todas devem ter a mesma duração. Um novo Sprint ocorre imediatamente após a conclusão do Sprint anterior. Como regra, não permitimos alterações de escopo ou de pessoal que alterem os objetivos durante um Sprint. A ideia por trás desse conceito é a de criar ritmo e disciplina no trabalho do Time de Desenvolvimento, além de regularidade na obtenção de feedback, cobrança e estímulo do Product Owner e dos clientes e demais partes interessadas.</p>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
