{% extends "base.html" %}
{% block title %}Sprint Retrospective | SCRUM ACADEMY{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylemodulos.css') }}">
{% endblock %}

{% block content %}
<div class="page-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Módulo 4</h2>
      <p>Cerimônias no Scrum</p>
    </div>
    <nav class="sidebar-menu">
      <a href="{{ url_for('sprint') }}" class="{% if request.endpoint == 'sprint' %}active{% endif %}">
        <span>🏃‍♂️</span> Sprint
        <input type="checkbox" class="check">
      </a>
      <a href="{{ url_for('sprint_planning') }}" class="{% if request.endpoint == 'sprint_planning' %}active{% endif %}">
        <span>📝</span> Sprint Planning
        <input type="checkbox" class="check">
      </a>
      <a href="{{ url_for('daily_scrum') }}" class="{% if request.endpoint == 'daily_scrum' %}active{% endif %}">
        <span>📅</span> Daily Scrum
        <input type="checkbox" class="check">
      </a>
      <a href="{{ url_for('sprint_review') }}" class="{% if request.endpoint == 'sprint_review' %}active{% endif %}">
        <span>🔍</span> Sprint Review
        <input type="checkbox" class="check">
      </a>
      <a href="{{ url_for('sprint_retrospective') }}" class="{% if request.endpoint == 'sprint_retrospective' %}active{% endif %}">
        <span>🔄</span> Sprint Retrospective
        <input type="checkbox" class="check">
      </a>
    </nav>
  </aside>
  <main class="artigo">
    <h1 class="titles">Sprint Retrospective</h1>
    <p class="text">A segunda atividade de inspeção e adaptação ao final do sprint é a Sprint Retrospective. Essa atividade frequentemente ocorre após a Sprint review e
antes do planejamento do próximo Sprint.</p>
    <p class="text">Enquanto a revisão do Sprint é um momento para inspecionar e adaptar o produto, a Sprint Retrospective é uma oportunidade para analisar e adaptar o processo. Durante a Sprint retrospective, a equipe de desenvolvimento, o Scrum Master e o Product Owner se reúnem para discutir o que está e o que não está funcionando com o Scrum e as práticas técnicas associadas. O foco está na melhoria contínua do processo necessária para ajudar uma boa equipe Scrum a se tornar excelente.</p>
    <p class="text">Ao final de uma Sprint Retrospective, a equipe Scrum deve ter identificado e se comprometido com um número prático de ações de melhoria de processo que serão realizadas pela equipe Scrum no próximo Sprint. Após a conclusão Sprint retrospective, todo o ciclo se repete novamente, começando com a próxima Sprint Planning, realizada para determinar o conjunto de trabalho de maior valor atual no qual a equipe deve se concentrar.</p>
  </main>

{% endblock %}