<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sprint Retrospective</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">Sprint Retrospective</h1>
    <p class="text">A segunda atividade de inspeção e adaptação ao final do sprint é a Sprint Retrospective. Essa atividade frequentemente ocorre após a Sprint review e
antes do planejamento do próximo Sprint.</p>
    <p class="text">Enquanto a revisão do Sprint é um momento para inspecionar e adaptar o produto, a Sprint Retrospective é uma oportunidade para analisar e adaptar o processo. Durante a Sprint retrospective, a equipe de desenvolvimento, o Scrum Master e o Product Owner se reúnem para discutir o que está e o que não está funcionando com o Scrum e as práticas técnicas associadas. O foco está na melhoria contínua do processo necessária para ajudar uma boa equipe Scrum a se tornar excelente.</p>
    <p class="text">Ao final de uma Sprint Retrospective, a equipe Scrum deve ter identificado e se comprometido com um número prático de ações de melhoria de processo que serão realizadas pela equipe Scrum no próximo Sprint. Após a conclusão Sprint retrospective, todo o ciclo se repete novamente, começando com a próxima Sprint Planning, realizada para determinar o conjunto de trabalho de maior valor atual no qual a equipe deve se concentrar.</p>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
