<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O que é Scrum Board? </title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">O que é Scrum Board?</h1>
    <p class="text">O Scrum Board é um quadro visual usado para acompanhar o progresso das tarefas de um Sprint. Ele torna o trabalho transparente, permitindo que toda a equipe veja o que já foi feito, o que está em andamento e o que ainda precisa ser concluído.</p>
    <p class="text">Ele pode ser representado de forma física (com post-its em um quadro) ou digital (usando ferramentas online).</p>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
