<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colunas Típicas de um Scrum Board </title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">Colunas Típicas de um Scrum Board </h1>
    <p class="text" style="width:940px">As colunas organizam as tarefas conforme seu estado atual. </p>
    <p class="text" style="width:940px">As mais comuns são: </p>
    <ul>
    <li><strong>To Do (A Fazer):</strong> Tarefas planejadas para o sprint, mas ainda não iniciadas.</li>
    <li><strong>Doing / In Progress (Em Progresso):</strong> Tarefas em andamento.</li>
    <li><strong>Done (Concluído):</strong> Tarefas terminadas, de acordo com a Definition of Done.</li>
    </ul>
    <p class="text" style="width:940px">Algumas equipes também usam colunas adicionais, como: </p>
    <ul>
    <li><strong>Testing / Review (Em Revisão):</strong> Para revisões ou testes.</li>
    <li><strong>Blocked (Com Impedimento):</strong> Tarefas impedidas por algum problema.</li>
    </ul>
 
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>