<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferramentas Digitais de Suporte </title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">Ferramentas Digitais de Suporte</h1>
    <p class="text" style="width:940px">Diversas ferramentas oferecem quadros digitais que podem ser usados em Scrum e Kanban: </p>
    <ul>
    <li><strong>Jira (Atlassian):</strong> Focado em times ágeis; permite backlog, sprints, relatórios de burndown e velocity.</li>
    <li><strong>Trello:</strong> Fácil visualização, interação direta</li>
    <li><strong>Azure DevOps (Azure Boards):</strong> Integrado ao ecossistema Microsoft, suporta sprints e relatórios de burndown.</li>
    </ul>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>