<h1 class="titles">Ferramentas Digitais de Suporte</h1>
<p class="text" style="width:940px">Diversas ferramentas oferecem quadros digitais que podem ser usados em Scrum e Kanban: </p>
<ul>
<li><strong>Jira (Atlassian):</strong> Focado em times ágeis; permite backlog, sprints, relatórios de burndown e velocity.</li>
<li><strong>Trello:</strong> Fácil visualização, interação direta</li>
<li><strong>Azure DevOps (Azure Boards):</strong> Integrado ao ecossistema Microsoft, suporta sprints e relatórios de burndown.</li>
</ul>
