<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boas Práticas no Uso de Scrum Board</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>
  <main class="artigo">
    <h1 class="titles">Boas Práticas no Uso de Scrum Board</h1>
    <ul>
    <li><strong>Transparência:</strong> todos devem ter acesso ao quadro.</li>
    <li><strong>Atualização frequente:</strong> manter atualizado diariamente, principalmente durante o Daily Scrum.</li>
    <li><strong>Definition of Done:</strong> só mover para “Done” quando cumprir todos os critérios de qualidade definido.</li>
    <li><strong>Inspeção e adaptação:</strong> o quadro deve apoiar melhorias contínuas.</li>
    </ul>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>