<h1 class="titles">	Anatomia de um Board Eficaz </h1>
<p class="subtitles"><strong>Flexibilidade com propósito</strong></p>

<p class="text">Um Scrum Board eficaz é simples, claro e adaptado à realidade do time. Sua estrutura mais básica contém três colunas:</p>

<ul class="artigoListas">
  <li class="itemLista"><strong>To Do</strong> - tarefas que ainda não foram iniciadas</li>
  <li class="itemLista"><strong>Doing</strong> - tarefas em execução</li>
  <li class="itemLista"><strong>Done</strong> - tarefas terminadas e revisadas</li>
</ul>

<p class="text">Com o amadurecimento da equipe, o quadro pode evoluir para incluir colunas intermediárias, como Code Review, Testes ou Homologação, representando o fluxo real de trabalho. Essa personalização ajuda a tornar o board mais fiel à entrega contínua.</p>

<p class="text">Outro conceito importante é o WIP (Work in Progress Limit) — o limite de trabalho em andamento. Ele impede que o time abra várias tarefas ao mesmo tempo, incentivando o foco e evitando gargalos. Quando o limite de WIP é atingido, o time deve finalizar o que está em progresso antes de iniciar algo novo</p>

<p class="text">Os itens do backlog que entram no board representam o compromisso da equipe para aquela Sprint. Cada item deve ser pequeno, claro e mensurável, conforme a Definition of Done. Assim, o board se torna não apenas um controle de tarefas, mas uma ferramenta de aprendizado contínuo.</p>

<p class="text">O sucesso do Scrum Board depende da atualização constante. Se o time não o mantém atualizado, ele perde valor e deixa de representar a realidade — algo que fere diretamente o princípio da transparência do Scrum.</p>
