<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 7 - SCRUM Board e Ferramentas</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>

  <main class="content">
    <h1>Módulo 7 – SCRUM Board e Ferramentas</h1>

      <div class="contentlinks"><a target="_blank" href="1-OQueEScrumBoard.html">O Que é Scrum Board?</a></div>
      <div class="contentlinks"><a target="_blank" href="2-QuadroFisicoQuadroDigital.html">Quadro Físico vs Quadro Digital</a></div>
      <div class="contentlinks"><a target="_blank" href="3-ColunasTipicasScrumBoard.html">Colunas Tipicas de um Scrum Board.</a></div>
      <div class="contentlinks"><a target="_blank" href="4-FerramentasDigitaisDeSuporte.html">Ferramentas Digitais de Suporte</a></div>
      <div class="contentlinks"><a target="_blank" href="5-BoasPraticasScrumBoard.html">Boas Práticas no Uso de Scrum Board</a></div>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
