{% extends 'base.html' %}

{% block title %}Módulo 1 - Introdução ao SCRUM | SCRUM ACADEMY{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylemodulos.css') }}">
{% endblock %}

{% block content %}
<div class="page-container">
    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>Módulo 1</h2>
        <p>Introdução ao SCRUM</p>
      </div>

      <nav class="sidebar-menu">
        <a href="" data-conteudos="{{ url_for('oquee_scrum') }}" class="navegacacao_conteudo">
          <span>📋</span> O que é Scrum?
          <input type="checkbox" class="check" name="modulo1" value="1">
        </a>

        <a href="" data-conteudos="{{ url_for('porque_scrum') }}" class="navegacacao_conteudo" >
          <span>❓</span> Por que usar Scrum?
          <input type="checkbox" class="check" value="2" name="modulo1">
        </a>

        <a href="" data-conteudos="{{ url_for('manifesto_agil') }}" class="navegacacao_conteudo">
          <span>📜</span> Manifesto Ágil
          <input type="checkbox" class="check" value="3" name="modulo1">
        </a>

        <a href="" data-conteudos="{{ url_for('exercicios_modulo1') }}" class="navegacacao_conteudo">
          <span>📝</span> Exercícios
          <input type="checkbox" class="check" value="4" name="modulo1">
        </a>
      </nav>
    </aside>

  <div>
    <article class="artigo">
      <h1 class="titles">Introdução ao SCRUM</h1>
      <p class="text">Bem-vindo ao primeiro módulo da sua jornada no universo Scrum! Aqui, você dará os passos 
        iniciais para compreender essa estrutura ágil que revolucionou a gestão de projetos. Neste módulo, vamos 
        descomplicar o Scrum, respondendo a três perguntas essenciais: "O que é?", explorando sua estrutura e 
        princípios básicos; "Por que usar?", destacando os benefícios de adotar essa abordagem para entregar mais 
        valor com menos desperdício; e, por fim, "Qual a sua base?", conectando o Scrum aos valores e princípios 
        do Manifesto Ágil. Ao final, você terá uma visão clara e sólida dos fundamentos necessários para aplicar 
        o Scrum com confiança.
      </p>

      <div class="contentlinks">
        <a href="{{ url_for('oquee_scrum') }}">📋 O que é Scrum?</a>
        <p>Conheça a definição e os princípios básicos do framework Scrum.</p>
      </div>

      <div class="contentlinks">
        <a href="{{ url_for('porque_scrum') }}">❓ Por que usar Scrum?</a>
        <p>Entenda os benefícios e vantagens de implementar Scrum em projetos.</p>
      </div>

      <div class="contentlinks">
        <a href="{{ url_for('manifesto_agil') }}">📜 Manifesto Ágil</a>
        <p>Explore os valores e princípios do Manifesto Ágil que fundamentam o Scrum.</p>
      </div>
    </article>
  </div>
</div>
<script src="../../../static/modulos.js"></script>
{% endblock %}