<h1 class="titles">Por que usar Scrum?</h1>
<p class="text">O Scrum se tornou o método ágil mais difundido no mundo porque oferece uma resposta prática à complexidade dos projetos modernos. Ele não apenas organiza o trabalho em ciclos curtos, mas também muda a forma como as equipes pensam e se relacionam com o valor dos projetos onde o foco passa a ser gerar valor real para o cliente.
</p>

<p class="subtitles" style="font-size: 20px;"><strong>Entre os principais motivos para usar Scrum estão:</strong></p>

<p class="subtitles"><strong>Entregas Frequentes Focadas em Valor</strong></p>
<p class="text">O Scrum substitui longos ciclos de planejamento por entregas curtas e mensuráveis. Cada entrega representa um avanço tangível, que pode ser avaliado e validado pelo cliente. Isso reduz o tempo entre o investimento e o retorno e permite que o produto seja ajustado continuamente.</p>
<p class="text">
Mais do que rapidez, a equipe descobre o que funciona, o que precisa ser melhorado e o que pode ser descartado, tornando o desenvolvimento mais eficiente a cada Sprint.
</p>

<p class="subtitles"><strong>Diminuição de Riscos</strong></p>
<p class="text">Ao dividir o trabalho em ciclos curtos, alinhamento de expectativas, problemas de requisitos, e desempenho técnico são expostos e corrigidos antes que se tornem falhas críticas.  Essa visibilidade contínua cria um ambiente de decisão mais seguro e baseado em fatos e feedbacks e não em suposições para longo prazo.</p>

<p class="subtitles"><strong>Mudanças Como Fonte de Inovação</strong></p>
<p class="text">No método Scrum, as mudanças são acolhidas como oportunidades e não como acontecimentos indesejáveis. Elas são parte do ambiente dinâmico em que os projetos estão inseridos. As mudanças também compreendem a própria descoberta dos detalhes do produto, que é um processo incremental que ocorre durante todo o projeto.
</p>

<p class="subtitles"><strong>Foco em Valor e Eliminação de Desperdícios</strong></p>
<p class="text">A priorização constante do Product Backlog - abordado mais à frente - garante que o esforço da equipe esteja voltado apenas ao que traz retorno real. Funcionalidades de baixo impacto ou requisitos desatualizados são descartados, economizando tempo e recursos.
O resultado é um processo mais enxuto, com menos retrabalho e maior clareza sobre o que realmente importa.</p>

<p class="subtitles"><strong>Engajamento e Produtividade Sustentável</strong></p>
<p class="text">O Scrum valoriza a autonomia e a responsabilidade compartilhada. Equipes autogerenciadas, que participam das decisões e compreendem o propósito do trabalho, tendem a ser mais motivadas e produtivas.
Esse equilíbrio entre ritmo constante e senso de propósito cria um ambiente saudável, onde o desempenho é consequência da colaboração e autonomia</p>