<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 5 – Artefatos Do Scrum</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>

  <main class="artigo">
    <h1>O Que São Artefatos Do Scrum</h1>
    <p class="text"> No framework Scrum, os artefatos são elementos fundamentais que proporcionam
  transparência, alinhamento e rastreabilidade ao longo do projeto. Eles representam
  documentos e informações essenciais que orientam o trabalho da equipe, permitindo um
  acompanhamento claro do progresso e facilitando a tomada de decisões. Os principais
  artefatos do Scrum são: o <strong> Product Backlog</strong>, <strong> Sprint Backlog</strong> e <strong>incremento</strong>.</p>
</main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
