<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Incremento</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>

  <main class="artigo">
    <h1 class="titles">Incremento</h1>
    <h2 class="subtitles"><strong>O Que é Incremento</strong></h2>
    <p class="text"> O Incremento é o resultado concreto do trabalho realizado durante uma Sprint, que inclui
todos os itens do <strong>Product Backlog</strong> completados e integrados com os incrementos das
Sprints anteriores. O Incremento deve ser uma versão funcional, utilizável e que esteja em
conformidade com a <strong>definição de Pronto (Definition of Done)</strong> estabelecida pela equipe.
Essa definição é um conjunto de critérios claros que garantem que o trabalho está
completo, testado e de qualidade, pronto para ser entregue ou disponibilizado ao cliente.
Assim, o Incremento é considerado potencialmente liberável, ou seja, pode ser entregue ao
cliente ou usuário final a qualquer momento, proporcionando valor real e imediato.</p>
  </main>
  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
