<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Backlog</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>

  <main class="artigo">
    <h1 class="titles">Product Backlog</h1>
    <h2 class="subtitles"><strong>O Que é Product Backlog:</strong> </h2>

    <p class="text"> <strong> O Product Backlog</strong> é uma lista dinâmica que contém tudo o que precisa ser feito para o
produto evoluir. Ele é de responsabilidade do <strong>Product Owner</strong>. Ordenado por prioridade de
negócio. Atualizado constantemente com base em feedbacks e necessidades. Pense nele
como o 'coração do produto'. Se não está no backlog, não será feito.</p>

    <h2 class="subtitles"><strong>Product Backlog item-PBI:</strong> </h2>
    <p class="text"> É o nome dado a cada item individual que compõe o <strong>Product Backlog</strong> no Scrum. Esses
itens representam qualquer tipo de trabalho necessário para evoluir o produto, como novas
funcionalidades, correções de erros, melhorias técnicas ou requisitos não funcionais. Cada
PBI deve conter informações suficientes para que o time compreenda seu valor, sua
prioridade e o esforço estimado para realizá-lo. Os PBIs são continuamente priorizados e
detalhados, permitindo que a equipe de desenvolvimento trabalhe com foco nas entregas
mais importantes e valiosas para o negócio.</p>

    <h2 class="subtitles"><strong>User Stories:</strong> </h2>
    <p class="text"> São uma forma comum e eficaz de descrever PBIs, colocando o foco nas necessidades
reais do usuário final. Elas geralmente seguem o formato: <Strong>“Como [tipo de usuário], quero
[ação], para que [benefício]”</strong>, o que ajuda a expressar o valor da funcionalidade de forma
simples e objetiva. Com isso, as histórias de usuário facilitam o entendimento entre o time
técnico e os stakeholders, tornando os requisitos mais acessíveis e humanos. Além disso,
elas incentivam a equipe a pensar não apenas no que será feito, mas para quem e por quê,
promovendo um desenvolvimento mais orientado ao valor.</p>

    <h2 class="subtitles"><strong>Critérios de aceitação:</strong> </h2>
    <p class="text">São condições específicas e mensuráveis que definem quando uma User Storie
pode ser considerada “pronta”. Eles funcionam como um acordo entre o <strong>Product Owner </strong>e a
equipe, estabelecendo os comportamentos esperados da funcionalidade, as regras de
negócio que devem ser seguidas e os resultados mínimos que precisam ser atingidos. Com
critérios bem definidos, a equipe tem mais clareza sobre o que precisa ser entregue, e os
testes podem ser conduzidos de forma objetiva, garantindo que a entrega realmente atenda
às expectativas. Isso contribui para a qualidade do produto e evita retrabalho.</p>
  </main>

  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
