<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sprint Backlog</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/stylemodulos.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/logo.png" type="image/png">

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo-area">
        <img src="../../img/logo.png" alt="Logo da Empresa" class="logo-img">
        <a href="../../index.html" class="logo-text">SCRUM ACADEMY</a>
      </div>
      <ul class="nav-links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../modulos.html">Módulos</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <!--<li><a href="pages/progresso.html">Progresso</a></li>-->
      </ul>
    </nav>
  </header>

  <main class="artigo">
    <h1 class="titles">Sprint Backlog</h1>
    <h2 class="subtitles"><strong>O Que é Product Backlog:</strong> </h2>

    <p class="text"> O Sprint Backlog é um dos três artefatos do Scrum e representa o conjunto de itens do
<strong>Product Backlog</strong> selecionados para serem desenvolvidos durante a Sprint, junto com um
plano detalhado para entregá-los. Esses itens são escolhidos pela equipe de
desenvolvimento em conjunto com o <strong>Product Owner</strong> durante o evento de planejamento da
Sprint (Sprint Planning). A seleção leva em conta a prioridade dos itens, o valor de negócio
e a capacidade da equipe para aquela Sprint. Os itens escolhidos devem estar claros,
refinados e prontos para serem trabalhados. Além disso, o <strong>Sprint Backlog</strong> inclui as tarefas
técnicas e atividades necessárias para transformar esses itens em um incremento funcional
e utilizável até o final da Sprint. Ao contrário do <strong>Product Backlog</strong>, que é mantido pelo
<strong>Product Owner</strong> , o<strong> Sprint Backlog</strong> é gerenciado exclusivamente pela equipe de
desenvolvimento, que o atualiza conforme o trabalho progride. Esse artefato é transparente,
adaptável e visível para todos, funcionando como um guia operacional diário para o time e
como uma ferramenta para inspecionar e adaptar o trabalho ao longo da Sprint.</p>

  </main>


  <footer>
    <p>© 2025 - SCRUM ACADEMY</p>
  </footer>
</body>
</html>
