{% extends 'base.html' %}

{% block title %}Módulo 1 - Introdução ao SCRUM | SCRUM ACADEMY{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylemodulos.css') }}">
{% endblock %}

{% block content %}
<div class="page-container">
    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>Módulo 9</h2>
        <p>Simulações e Exercícios Práticos</p>
      </div>

      <nav class="sidebar-menu">
        <a href="" data-conteudos="{{ url_for('introducao') }}" class="navegacacao_conteudo">
          <span>📋</span> Introdução Ao Treinamento Scrum
          <input type="checkbox" class="check" name="modulo9" value="43">
        </a>

        <a href="" data-conteudos="{{ url_for('time_scrum') }}" class="navegacacao_conteudo" >
          <span>📝</span> O Time Scrum
          <input type="checkbox" class="check" value="44" name="modulo9">
        </a>

        <a href="" data-conteudos="{{ url_for('criando_bl') }}" class="navegacacao_conteudo">
          <span>📜</span> Criando o Produto Backlog
          <input type="checkbox" class="check" value="45" name="modulo9">
        </a>

        <a href="" data-conteudos="{{ url_for('planejamento_sprint') }}" class="navegacacao_conteudo">
          <span>📝</span> Planejamento da Sprint
          <input type="checkbox" class="check" value="46" name="modulo9">
        </a>

         <a href="" data-conteudos="{{ url_for('scrum_board') }}" class="navegacacao_conteudo">
          <span>📝</span> Scrum Board
          <input type="checkbox" class="check" value="47" name="modulo9">
        </a>

         <a href="" data-conteudos="{{ url_for('daily') }}" class="navegacacao_conteudo">
          <span>📝</span> Daily Scrum
          <input type="checkbox" class="check" value="48" name="modulo9">
        </a>

         <a href="" data-conteudos="{{ url_for('pratica_cerimonias') }}" class="navegacacao_conteudo">
          <span>📝</span> Sprint Review e Retrospective
          <input type="checkbox" class="check" value="49" name="modulo9">
        </a>

         <a href="" data-conteudos="{{ url_for('conclusao') }}" class="navegacacao_conteudo">
          <span>📝</span> Conclusão do Treinamento Scrum
          <input type="checkbox" class="check" value="50" name="modulo9">
        </a>
      </nav>
    </aside>

  <div>
    <article class="artigo">
      <h1 class="titles">Módulo 9</h1>
      
    </article>
  </div>
</div>
<script type="module" src="{{ url_for('static', filename='script/main-script.js')}}"></script>
{% endblock %}
