{% extends 'base.html' %}

{% block title %}Módulo 6 - Planejamento | SCRUM ACADEMY{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylemodulos.css') }}">
{% endblock %}

{% block content %}
<div class="page-container" id="modulo6">
    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>Módulo 6</h2>
        <p>Estimativa e Planejamento</p>
      </div>

      <nav class="sidebar-menu">
        <a href="" data-conteudos="{{ url_for('capacidade') }}" class="navegacacao_conteudo">
          <span>📋</span> Planejamento
          <input type="checkbox" class="check" value="1" name="modulo6">
        </a>

        <a href="" data-conteudos="{{ url_for('poker') }}" class="navegacacao_conteudo" >
          <span>❓</span> planning poker
          <input type="checkbox" class="check" value="26" name="modulo6">
        </a>

        <a href="" data-conteudos="{{ url_for('t_shirt') }}" class="navegacacao_conteudo">
          <span>📜</span> T-Shirt Sizes
          <input type="checkbox" class="check" value="27" name="modulo6">
        </a>

        <a href="" data-conteudos="{{ url_for('velocidade') }}" class="navegacacao_conteudo">
          <span>📜</span> Velocidade
          <input type="checkbox" class="check" value="28" name="modulo6">
        </a>

        <a href="" data-conteudos="{{ url_for('outras') }}" class="navegacacao_conteudo">
          <span>📝</span> Outras técnicas
          <input type="checkbox" class="check" value="29" name="modulo6">
        </a>

         <a href="" data-conteudos="{{ url_for('exercicios_modulo6') }}" class="navegacacao_conteudo" id="exercicios">
          <span>📝</span> Exercícios
          <input type="checkbox" class="check" value="30" name="modulo6">
        </a>
      </nav>
    </aside>

  <div>
    <article class="artigo">
      <h1 class="titles">Estimativa e planejameneto</h1>
      <p class="text">Bem Bem-vindo ao módulo 6, estimativa e planejamento. Aqui, você aprenderá a aplicar técnicas para estimar o esforço necessário para realizar uma tarefa, além de como planejar o seu trabalho com base nessa informação.
      </p>

      <div class="contentlinks">
        <a href="">📋 Planejamento</a>
        <p>Entenda a capacidade de planejamento no método Scrum.</p>
      </div>

      <div class="contentlinks">
        <a href="">❓ Planning Poker</a>
        <p>Aprenda o método de planejamento Planning poker e como usá-lo.</p>
      </div>

      <div class="contentlinks">
        <a href="">📜 T-Shirt Sizes</a>
        <p>Aprenda o método de planejamento T-Shirt Sizes e como Usá-lo.</p>
      </div>

      <div class="contentlinks">
        <a href="">📜 Velocidade.</a>
        <p>Aprenda sobre a velocidade no método Scrum.</p>
      </div>

      <div class="contentlinks">
        <a href="">📜 Outras técnicas.</a>
        <p>Conheça outras técnicas de planejamento menos comuns.</p>
      </div>
    </article>
  </div>
</div>
<script type="module" src="{{ url_for('static', filename='script/main-script.js')}}"></script>
{% endblock %}