<h1 class="titles">Inspeção Contínua</h1>
<p class="text">
Inspecionar significa observar e refletir continuamente sobre o que está acontecendo. 
Essa prática é vital para garantir que o time esteja no caminho certo e para identificar oportunidades de melhoria. 
O Scrum promove a inspeção por meio de eventos como o Daily Scrum, a Sprint Review e a Sprint Retrospective.
</p>
<p class="text">
Mas inspecionar não é apenas "avaliar"; é observar com humildade e intenção de aprender. 
Times maduros conseguem fazer isso com empatia e foco em soluções. Uma habilidade essencial nesse processo 
é saber dar e receber feedback de forma construtiva. Modelos como DESC (Descrever, Expressar, Sugerir, Consequência) 
ou SBI (Situação, Comportamento, Impacto) podem ajudar nesse processo. O objetivo nunca é apontar culpados, 
mas sim entender o que está funcionando e o que pode melhorar.
</p>